.inline {
	display: inline;
}
.head1 {
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
	font-weight: bold;
	color: black;
}
.label1 {
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
	color: black;
}
.button1 {
	height: 30px;
	line-height: 14px;
	font-size: 14px;
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
	font-weight: bold;
	color: black;
}
.input1 {
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
	color: black;
}
.error1 {
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif;
	font-weight: bold;
	color: red;
}
